@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;700;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: #fff;
}

/* global css */
/* img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
} */

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* .container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
} */

.btn {
  display: inline-block;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  /* customize */
  background-color: #1c2042;
  color: white;
  border: 2px solid #1c2042;
}

/* Main Container */
.main-container {
  width: 100%;
  height: auto;
  padding: 2rem;
  overflow: hidden;
}
/* Nav Container 01 */
.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5rem;
  gap: 2rem;
  margin-top: -5rem;
}
.nav-png {
  width: 6.5rem;
  height: auto;
}
.nav-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}
.nav-text {
  font-family: "Mulish";
  font-size: 13px;
  font-weight: 300;
  color: gray;
}
.nav-text:hover {
  font-weight: 500;
  border-radius: 10rem;
  padding: 0.3rem 1.5rem;
  color: dodgerblue;
  border: 2px solid dodgerblue;
}

/* header-container 02*/
.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}
.header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1rem;
}
.header-title {
  width: 33rem;
  height: auto;
  font-size: 60px;
  font-weight: 700;
  font-family: "Mulish";
  letter-spacing: 0.5rem;
}
.header-para {
  width: 26rem;
  height: auto;
  font-size: 16px;
  font-weight: 200;
  font-family: "Mulish", "sanserif";
  line-height: 1.5rem;
  color: gray;
}

.header-btn {
  font-size: 14px;
  font-weight: 600;
  padding: 0.7rem 2.5rem;
  border-radius: 20rem;
  color: #fff;
  background-color: dodgerblue;
  border: 2px solid dodgerblue;
}
.header-btn:hover {
  color: dodgerblue;
  background-color: #ffffff;
}

.header-png {
  width: 35rem;
  height: auto;
}

/* our-service-container 03 */

.service-bg-png {
  z-index: -1;
  margin-top: -67rem;
  margin-right: 60rem;
  overflow: hidden;
}
.our-service-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  gap: 1rem;
}

.service-head-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.service-txt {
  font-size: 25px;
  font-weight: 600;
  font-family: "Mulish";
}

.service-border {
  width: 2rem;
  border: 2px solid rgb(72, 72, 72);
  border-radius: 10px;
}

.service-para {
  color: gray;
  width: 45rem;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 1.5rem;
}

.service-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.service-cards-top,
.service-cards-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.card-one,
.card-two,
.card-three,
.card-four,
.card-five,
.card-six {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 1.5rem;
  border: 2px solid rgb(161, 185, 255);
  background-color: #fff;
  margin-top: 3rem;
  width: 17rem;
  height: 20rem;
  box-shadow: 2px 20px 20px rgb(243, 243, 243);
  border-radius: 15px;
  transition: 1s;
}
.card-one:hover,
.card-two:hover,
.card-three:hover,
.card-four:hover,
.card-five:hover,
.card-six:hover {
  cursor: pointer;
  background-color: dodgerblue;
  color: #ffffff;
  transition: 1s;
}

.card-png {
  width: 4rem;
  height: auto;
}

.service-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 0.5rem;
}

.service-card-para {
  width: 12rem;
  height: auto;
  font-weight: 200;
  font-size: 12px;
}

.service-title-txt {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.service-btn {
  font-size: 14px;
  font-weight: 600;
  padding: 0.5rem 2rem;
  border-radius: 20rem;
  color: dodgerblue;
  background-color: rgb(255, 255, 255);
  border: 2px solid dodgerblue;
  margin-top: 3rem;
}
.service-btn:hover {
  background-color: dodgerblue;
  color: #ffffff;
}

/* <!-- Providers-container 04 --> */
.providers-first {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20rem;
}

.providers-png {
  width: 35rem;
  height: auto;
}

.providers-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1rem;
}

.providers-title {
  width: 15rem;
  font-size: 26px;
  font-weight: 700;
}

.providers-border {
  width: 2rem;
  border: 1px solid rgb(72, 72, 72);
  border-radius: 10px;
}
.providers-para {
  width: 20rem;
  font-family: "Mulish";
  font-size: 14px;
  font-weight: 200;
  color: gray;
}

.providers-btn {
  font-size: 14px;
  font-weight: 600;
  padding: 0.5rem 2rem;
  border-radius: 20rem;
  color: dodgerblue;
  background-color: rgb(255, 255, 255);
  border: 2px solid dodgerblue;
}
.providers-btn:hover {
  background-color: dodgerblue;
  color: #ffffff;
}
.download-app-second {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5rem;
}
.download-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1rem;
}
.download-title {
  width: 15rem;
  font-size: 26px;
  font-weight: 700;
}
.download-border {
  width: 2rem;
  border: 1px solid rgb(72, 72, 72);
  border-radius: 10px;
}
.download-para {
  width: 20rem;
  font-family: "Mulish";
  font-size: 14px;
  font-weight: 200;
  color: gray;
}
.download-btn {
  font-size: 14px;
  font-weight: 600;
  padding: 0.5rem 2rem;
  border-radius: 20rem;
  color: dodgerblue;
  background-color: rgb(255, 255, 255);
  border: 2px solid dodgerblue;
}
.download-btn:hover {
  background-color: dodgerblue;
  color: #ffffff;
}
.download-png {
  width: 35rem;
  height: auto;
}

/* <!-- Testimonials container 05 --> */
.customer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  width: 60rem;
  height: 20rem;
  border: 2px solid dodgerblue;
  margin-left: 15rem;
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 15px;
}
.customer-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.customer-title {
  color: #fff;
}
.customer-para {
  width: 26rem;
  font-family: "Mulish";
  font-size: 14px;
  font-weight: 200;
  color: rgb(255, 255, 255);
}
.customer-txt {
  color: #fff;
}
.customer-para {
  color: #fff;
}
.customer-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
.customer-slide {
  width: 15rem;
  height: auto;
}

/* article-container 06 */
.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  gap: 1rem;
}

.article-title {
  font-size: 25px;
  font-weight: 600;
  font-family: "Mulish";
}
.article-border {
  width: 2rem;
  border: 2px solid rgb(72, 72, 72);
  border-radius: 10px;
}

.article-cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.article-card-one,
.article-card-two,
.article-card-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  margin-top: 2rem;
}
.article-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.article-png {
  width: 18rem;
  height: auto;
}
.article-content-one,
.article-content-two,
.article-content-three {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 2px solid #ffffff;
  box-shadow: 2px 10px 20px rgb(214, 214, 214);
  border-radius: 15px;
  padding: 2rem;
  gap: 1rem;
}

.article-card-head {
  width: 18rem;
  font-size: 16px;
  font-weight: 600;
  font-family: "Mulish";
}
.article-para {
  width: 18rem;
  font-size: 16px;
  font-weight: 400;
  color: gray;
  font-family: "Mulish";
}

.article-txt {
  font-size: 12px;
  padding: 0.5rem 0.8rem;
  border: 2px solid dodgerblue;
  border-radius: 25px;
}

.article-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg-png {
  z-index: -1;
  margin-top: -50rem;
  margin-left: 65rem;
  overflow: hidden;
}
.article-btn {
  font-size: 16px;
  padding: 0.5rem 2.5rem;
  background-color: #fff;
  color: dodgerblue;
  border: 2px solid dodgerblue;
  border-radius: 25px;
  margin-top: 3rem;
}
.article-btn:hover {
  background-color: dodgerblue;
  color: #ffffff;
}

/* footer-container 07 */

.footer-container {
  width: auto;
  height: 20rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  margin-top: 10rem;
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
}

.footer-start-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}
.footer-logo {
  font-size: 15px;
  padding: 0.5rem;
  font-weight: 700;
  color: dodgerblue;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100px;
  background-color: #ffffff;
}
.footer-logo-name {
  color: #fff;
  font-weight: 700;
}
.footer-para {
  width: 20rem;
  font-size: 12px;
  color: rgb(255, 255, 255);
  font-weight: 200;
  line-height: 1.5rem;
}

.footer-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 5rem;
}

.details-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  color: #fff;
  font-weight: 700;
}

.details-txt {
  font-size: 12px;
  font-weight: 200;
}
